<div>
    <h1 id="header" class="jumbotron">Hospital Examinations System</h1>
    <div class="btn-group-justified">
        <a href="patient" class="btn btn-primary">Patient Panel</a>
        <a href="doctor" class="btn btn-primary">Doctor Panel</a>
        <a href="labworker" class="btn btn-primary">Lab Worker Panel</a>
    </div>
</div>